<% provide(:title, 'Malt') %>
<h1>New Malt</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@malt, url: malts_path) do |f| %>
    
      <%= f.label :kind %>
      <%= f.text_field :kind, class: 'form-control' %>


      <%= f.label :amount %>
      <%= f.text_field :amount, class: 'form-control'  %>

      <%= f.submit "Create new malt", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>